* {
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.button {
  background-color: red;
  padding: 50px 250px;
  font-size: 100px;
}

.button:hover {
  background-color: blue;
}
