* {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  max-width: 500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 700;
}

.form-container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.form-container-box-input {
  border-radius: 8px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
}

@media (min-width: 992px) {
  .form-container-box-input {
    height: 30px;
    font-size: 16px;
  }
}

.form-container-box-input:focus {
  box-shadow: 0px 0px 10px 3px rgb(0, 200, 255);
}

.margin-zero {
  margin: 0;
}

.text-center {
  text-align: center;
}
