* {
  border: 0;
  box-sizing: border-box;
  font-family: "Rubik Wet Paint";
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23030304'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2300FB00' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2300FB00' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232A323C'/%3E%3Cstop offset='1' stop-color='%2398A4B9'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2366D203' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2366D203' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  &-title {
    background-color: #98a4b9;
    border-radius: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border: 2px solid #2a323c;
  }
  &-description {
    border: 4px solid #2a323c;
    border-radius: 8px;
    padding: 5px;
  }
}

.calculator-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 310px;
  height: 310px;
  background-color: #2a323c;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #000000;

  &-input {
    width: 100%;
    height: 38px;
    border: 1px solid black;
    padding: 0 5px;
    border-radius: 8px;
    font-size: 20px;
  }

  &-button {
    height: 38px;
    width: 65px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 20px;
    &:hover {
      box-shadow: 0 0 8px #00fb00;
    }
  }
}

.gray-color {
  background-color: #98a4b9;
}

.blue-color {
  background-color: #00a4fe;
}

.green-color {
  background-color: #66d203;
}

.red-color {
  background-color: #e66060;
}

.placeholder-black::placeholder {
  color: #2600ff;
}

#footer {
  position: fixed;
  bottom: 0%;
  color: #98a4b9;
}
