* {
  box-sizing: border-box;
}

html,
bodu {
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  padding: 5px 10px;
  background-color: aquamarine;
}

.button:hover {
  background-color: aqua;
}

.list {
  background-color: burlywood;
  padding: 10px;
  margin: 10px;
}

.list:empty {
  display: none;
}
